<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>procuraCustoUniforme</servlet-name>
        <url-pattern>/procuraCustoUniforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procuraLargura</servlet-name>
        <url-pattern>/procuraLargura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tlu1</servlet-name>
        <url-pattern>/tlu-1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tlu2</servlet-name>
        <url-pattern>/tlu-2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deambular1</servlet-name>
        <url-pattern>/deambular-1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deambular2</servlet-name>
        <url-pattern>/deambular-2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deambular3</servlet-name>
        <url-pattern>/deambular-3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procuraOuro</servlet-name>
        <url-pattern>/procuraOuro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>segueParedes</servlet-name>
        <url-pattern>/segueParedes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tudo</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>procuraOuro</servlet-name>
        <jsp-file>/procuraouro.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tudo</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>segueParedes</servlet-name>
        <jsp-file>/segueParedes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>deambular3</servlet-name>
        <jsp-file>/deambular3.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>deambular1</servlet-name>
        <jsp-file>/deambular1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>deambular2</servlet-name>
        <jsp-file>/deambular2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tlu1</servlet-name>
        <jsp-file>/tlu1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tlu2</servlet-name>
        <jsp-file>/tlu2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>procuraLargura</servlet-name>
        <jsp-file>/procura.jsp</jsp-file>
        <init-param>
            <param-name>pu</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>procuraCustoUniforme</servlet-name>
        <jsp-file>/procura.jsp</jsp-file>
        <init-param>
            <param-name>pu</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
</web-app>
